{% extends '../../main/base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% if user.is_authenticated %}
<script>
    window.location.href="{% url 'account:dashboard' %}"
</script>
{% endif %}
{% endblock head %}

{% block content %}
<section class="login">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="login-card">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-6">
                                <img src="{% static 'main/images/login-side-img.jpg' %}" class="w-100" style="height: 100%; object-fit: cover;min-height: 600px;">
                            </div>
                            <div class="col-md-6">
                                <div class="login-section">
                                    <h3>Forgotten your Password?</h3>
                                    <p>Please enter your e-mail address to obtain a new password.</p>
                                    <form action="{% url 'account:pwdreset' %}" method="POST">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                        <div class="alert alert-primary" role="alert">
                                        Error: Please try again
                                        </div>
                                        {% endif %}
                                        {{ form.email }}
                                        <button type="submit">Submit</button><a href="{% url 'account:login' %}">Login</a>
                                    </form>
                                    <p class="text-center mt-3 pt-3 mb-2 border-top">Create an account</p>
                                    <a href="{% url 'account:register' %}" class="register-btn text-center">Register now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}